<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608393754261-vhfk6c3gbi1641k4cupd2pfssfa74t52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608393754261-vhfk6c3gbi1641k4cupd2pfssfa74t52</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608393754261-odrhti5jaqn3ag8asojrhfig5nl12qmo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhWK5LkEBdJEm9Gq96gv4beaSBcf2wFGk</string>
	<key>GCM_SENDER_ID</key>
	<string>608393754261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ratingsapp</string>
	<key>PROJECT_ID</key>
	<string>ratings-app-22e1c</string>
	<key>STORAGE_BUCKET</key>
	<string>ratings-app-22e1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608393754261:ios:b729daf6cd3e3f1a918d9c</string>
</dict>
</plist>